{% set vhusbd_generic_server_arch_map = {
    'i386': 'vhusbdi386',
    'amd64': 'vhusbdx86_64',
    'armv6l': 'vhusbdarm',
    'armv7l': 'vhusbdarm',
    'arm64': 'vhusbdarm64',
    'aarch64': 'vhusbdarm64',
} %}

{% set vhusbd_optimized_server_arch_map = {
    'armv6l': 'vhusbdarmpi',
    'armv7l': 'vhusbdarmpi2',
} %}

{% set default_settings = {
    'server': {
        'run_as_service': True,
        'log_file': '/var/log/vhusbd.log',
        'binary': {
            'install_dir': '/usr/sbin',
            'user': 'root',
            'group': 'root',
            'mode': 755,
            'source': {
                'base': 'https://www.virtualhere.com/sites/default/files/usbserver/',
            },
        },
        'config': {
            'path': '/etc/vhusbd.conf',
            'user': 'root',
            'group': 'root',
            'mode': 644,
            'source': 'salt://vhusbd/files/server/vhusbd.conf',
        },
    },
} %}

{% set vhusbd = salt['pillar.get']('vhusbd', default=default_settings, merge=True) %}
