{% import_yaml "vhusbd/defaults.yaml" as default_settings %}
{% import_yaml "vhusbd/cpuarch_map.yaml" as binary_arch_map %}

{# get the name of the binary based on the CPU architecture #}
{% set server_arch_source = binary_arch_map.vhusbd_binary_arch_map.server.get(grains['cpuarch'], 'vhusbdi386') %}
{% do default_settings.vhusbd.server.binary.source.update({'name': server_arch_source}) %}

{% set vhusbd = salt['pillar.get']('vhusbd', default=default_settings.vhusbd, merge=True) %}
